.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
bin
target
*.glob
.*.glob
.classpath
.project
.settings
.idea/
*.iml
*.ipr
*.iws
dependency-reduced-pom.xml
/target/
/anvilstringcommand/target/
/common/target/
/v18r1/target/
/v18r2/target/
/v18r3/target/
/v19r1/target/
/v19r2/target/
*.class
.project
.classpath
/.settings/

/lib/
.settings
.git
